extends /layout/page

block title
    title Личный кабинет

block variables
    - var page = 'lk'

block content
    .container 
        .row
            .col 
                h1.mt-50.text-center.c-white Личный кабинет
        .row.mt-md-50.mt-24
            .col-lg-5
                .lk-box
                    table
                        tbody
                            tr
                                th Июнь
                                td 150 баллов
                            tr
                                th Июль
                                td 320 баллов
                            tr
                                th Август
                                td 100 баллов
                    span.position-relative 
                        H2.c-orange.text-center.my-30 570 баллов
                        span.info-icon(data-bs-toggle="tooltip" data-bs-placement="bottom" title="Сейчас нет доступных сертификатов для скачивания")
                            +img('icons/info.svg','' ,'','' )

                    P.c-black Минимальное количество баллов, доступных для обмена на подарочные; сертификаты OZON, составляет 500. При оформлении сертификатов, кратных 500 рублей, округление будет происходить в меньшую сторону.
                    a.btn.btn-orange-border.w-100(type="button" href="") 
                        +img('icons/product-list.svg','' ,'mr-16 mb-4','' ) 
                        |Список продукции

                    a.btn.btn-orange-fill.w-100.mt-20(type="button" href="")
                        +img('icons/download-ser.svg','' ,'mr-16  mb-4','' ) 
                        |  Скачать сертификат
                    button.btn.btn-orange-fill.w-100.mt-20.disable(type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Сейчас нет доступных сертификатов для скачивания")  
                        +img('icons/download-ser.svg','' ,'mr-16  mb-4','' ) 
                        |  Скачать сертификат
            .col-lg-7.mt-lg-0.mt-md-30.mt-12
                .lk-box  
                    table
                        tbody
                            tr
                                th E-mail
                                td electronnya_pochta@gmail.com
                            tr
                                th Наименование торговой точки
                                td Название торговой точки
                            tr
                                th Адрес торговой точки
                                td г. Краснодар, ул. Красная, 178, к. 5, оф. 387
                            tr
                                th ИНН торговой точки
                                td 257328523873259
                            tr
                                th Дистрибьютор <br> ID участника <br> ИНН дистрибьютора
                                td Название дистрибьютора <br> 3453456345 <br> 4278536832758327582
        .row.mt-lg-50.mt-md-30.mt-12
            .col-12
                .lk-box
                    H2.c-orange.text-center Мои продажи
                    P.c-black.text-center.mt-40 К сожалению, нет продаж на данный момент 
                    .row 
                    .col-12 
                        .receved-code-table__wrapper
                            table#my-sales.receved-code-table
                                thead
                                    tr
                                        th.nowrap.date-appl Дата продажи
                                        th.nowrap.num-appl Дистрибьютор
                                        th.nowrap.date-event Артикул
                                        th.nowrap.type-event Наименование запчасти
                                        th.status-event Кол-во баллов
                                tbody
                                    tr
                                        td 02.06.2024
                                        td Название дистрибьютора
                                        td 4628919562
                                        td Тормозные механизмы в сборе
                                        td + 10
                                    tr
                                        td 14.12.2023
                                        td <span class="font-arial"> №</span> 12755246
                                        td 383732 / 344546 / ......
                                        td 
                                            a(href="img/fiskal.jpg" data-fancybox="image")

                                                |Смотреть
                                        td
                                            .status.status_proof Подтвержден
                                    tr
                                        td 14.12.2023
                                        td <span class="font-arial"> №</span> 12755246
                                        td 383732 / 344546 / ......
                                        td 
                                            a(href="img/fiskal.jpg" data-fancybox="image")

                                                |Смотреть
                                        td
                                            .status.status_canceled Отклонено
                                    tr
                                        td 14.12.2023
                                        td <span class="font-arial"> №</span> 12755246
                                        td 383732 / 344546 / ......
                                        td 
                                            a(href="img/fiskal.jpg" data-fancybox="image")

                                                |Смотреть
                                        td
                                            .status.status_wait В процессе
                                    tr
                                        td 14.12.2023
                                        td <span class="font-arial"> №</span> 12755246
                                        td 383732 / 344546 / ......
                                        td 
                                            a(href="img/fiskal.jpg" data-fancybox="image")

                                                |Смотреть
                                        td
                                            .status.status_wait В процессе
                                    tr
                                        td 14.12.2023
                                        td <span class="font-arial"> №</span> 12755246
                                        td 383732 / 344546 / ......
                                        td 
                                            a(href="img/fiskal.jpg" data-fancybox="image")

                                                |Смотреть
                                        td
                                            .status.status_wait В процессе
                                    tr
                                        td 14.12.2023
                                        td <span class="font-arial"> №</span> 12755246
                                        td 383732 / 344546 / ......
                                        td 
                                            a(href="img/fiskal.jpg" data-fancybox="image")

                                                |Смотреть
                                        td
                                            .status.status_wait В процессе 
        .row.mt-lg-50.mt-md-30.mt-12
            .col-12
                .lk-box
                    H2.c-orange.text-center Мои продажи
                    P.c-black.text-center.mt-40 К сожалению, нет продаж на данный момент  
        .row.mt-lg-50.mt-md-30.mt-12
            .col-12
                .lk-box
                    .row 
                        .col-lg-6
                            H2.c-orange Сертификат OZON
                            P.c-black.mt-24 Скачайте акт прием-передачи сертфиикат OZON, оставьте подпись в поле “подпись Участника” и заругите заполненный сертификат в поле для загрузки
                            button.btn.btn-black-fill.w-100.mt-24.mt-md-40(type="submit" ) скачать акт приема-передачи
                        .col-lg-6.mt-24.mt-lg-0 
                            .file-upload
                                input.bootstrap-file-upload(type="file" data-browse-on-zone-click="true") 
        .row.mt-lg-50.mt-md-30.mt-12
            .col-12
                .lk-box
                    .row 
                        .col-lg-6
                            H2.c-orange Сертификат OZON
                            P.c-black.mt-24 Скачайте акт прием-передачи сертфиикат OZON, оставьте подпись в поле “подпись Участника” и заругите заполненный сертификат в поле для загрузки
                            button.btn.btn-black-fill.w-100.mt-24.mt-md-40(type="submit" ) скачать акт приема-передачи
                        .col-lg-6.mt-24.mt-lg-0 
                            .download-success 
                                +img('icons/download-success.svg','' ,'','' )
                                span.mt-24 Акт успешно загружен и находится на проверке!
        .row.mt-lg-50.mt-md-30.mt-12
            .col-12
                .lk-box
                    H2.c-orange.text-center Вопросы и ответы
                    .row.mt-40 
                        .col-md-12.col-lg-6 
                            #faqData.qa-wrapper
                                .qa-wrapper-scroll 
                                    .qa-item.default-active.active
                                        .qa-title В какие сроки проводится Акция? 
                                        .qa-details Призы, стоимость которых превышает 4 000 (четыре тысячи) руб., облагаются налогом в размере 35%.Налог на Еженедельные призы, Приз за участие в конкурсе в интерактиве и Главный приз оплачивает организатор акции, который, как налоговый агент, на основании поручения от победителя, удержит в соответствие с требованиями законодательства РФ НДФЛ по ставке 35%.Гарантированные приз в виде баллов на счет карты лояльности «Х5 Клуб» не облагаются налогом в соответствии со ст. 217 НК РФ.  
                                    .qa-item
                                        .qa-title Какой продукт необходимо купить, чтобы принять участие? 
                                        .qa-details До какого числа выдают призы 
                                    .qa-item
                                        .qa-title До какого числа выдают призы 
                                        .qa-details До какого числа выдают призы 
                                    .qa-item
                                        .qa-title В какие сроки проводится Акция?
                                        .qa-details До какого числа выдают призы 
                                    .qa-item
                                        .qa-title Как я узнаю что стал участником акции?
                                        .qa-details До какого числа выдают призы 
                                    .qa-item
                                        .qa-title Как я узнаю что стал участником акции?
                                        .qa-details До какого числа выдают призы 
                                    .qa-item
                                        .qa-title Как я узнаю что стал участником акции?
                                        .qa-details До какого числа выдают призы 
                        .col-md-12.col-lg-6.mt-24.mt-lg-0 
                            .contact-form
                                h3 Задать вопрос
                                p.fw-16 Наши специалисты ответят на него в ближайшее время
                                form(action="").validate.mt-10 
                                    .col-sm-12.mb-24
                                        input(type="text" placeholder="Отчество" required ).form-control
                                        .invalid-feedback ФИО
                                    .col-sm-12.mb-24
                                        input(type="text" placeholder="E-mail" required ).form-control
                                        .invalid-feedback E-mail
                                    .col-sm-12.mb-24
                                        textarea(type="text" placeholder="E-mail" required ).form-control
                                        .invalid-feedback E-mail
                                    .col-sm-12.mb-6
                                        label.checkbox
                                            input(type="checkbox" required).radio-input.mr-10
                                            span.checkbox__text(style="font-size:13px;color:white") Я согласен (-а)  на обработку персональных данных 
                                            .invalid-feedback Подтвердите согласие с пользовательским соглашением и политикой конфиденциальности
                                    .col-sm-12.mb-6
                                        button.btn.btn-black-fill.w-100.mt-12(type="submit")  Зарегистрироваться           
